[submodule "components/kalman-filter-c"]
	path = components/kalman-filter-c
	url = https://github.com/smartsensingme/kalman-filter-c.git
[submodule "components/esp-engine-driver"]
	path = components/esp-engine-driver
	url = https://github.com/smartsensingme/esp-engine-driver-.git
[submodule "components/esp-mt6701"]
	path = components/esp-mt6701
	url = https://github.com/smartsensingme/esp-mt6701.git
[submodule "components/esp_rt_diagnostics"]
	path = components/esp_rt_diagnostics
	url = https://github.com/smartsensingme/esp_rt_diagnostics.git
[submodule "components/esp_rt_diagnostics_reporter"]
	path = components/esp_rt_diagnostics_reporter
	url = https://github.com/smartsensingme/esp_rt_diagnostics_reporter.git
[submodule "components/esp_pid"]
	path = components/esp_pid
	url = https://github.com/smartsensingme/esp_pid.git
[submodule "components/esp_timeseries_recorder"]
	path = components/esp_timeseries_recorder
	url = https://github.com/smartsensingme/esp_timeseries_recorder.git
[submodule "components/esp_angle_lut"]
	path = components/esp_angle_lut
	url = https://github.com/smartsensingme/esp_angle_lut.git
[submodule "components/esp_timeseries_usb_transport"]
	path = components/esp_timeseries_usb_transport
	url = https://github.com/smartsensingme/esp_timeseries_usb_transport.git
[submodule "tools/esp_timeseries_octave"]
	path = tools/esp_timeseries_octave
	url = https://github.com/smartsensingme/esp_timeseries_octave.git
